@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.header {
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.7s;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  align-items: center;
  flex-flow: row wrap;
  z-index: 10;
  height: 63px;
}
@media screen and (min-width: 0px) {
  .header {
    flex-flow: row nowrap;
    color: hsl(0, 0%, 100%);
  }
}
.header__logo-mobile {
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  padding: 0.3rem;
}
@media screen and (min-width: 740px) {
  .header__logo-mobile {
    display: none;
  }
}
.header__logo-desktop {
  display: none;
}
@media screen and (min-width: 740px) {
  .header__logo-desktop {
    display: block;
    font-family: "Nova Flat", cursive;
    font-size: 1.2rem;
    width: 50%;
  }
}
.header__list {
  cursor: pointer;
}

.video {
  position: relative;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

i.bx {
  display: block;
  width: 1em;
  height: 1em;
  font-size: 2em;
}
@media screen and (min-width: 740px) {
  i.bx {
    display: none;
  }
}

.header.abajo {
  background-color: hsl(0, 0%, 100%);
  border-bottom: 1px solid hsla(0, 1%, 73%, 0.575);
}

.header.abajo .modal__navbar__information-text:hover {
  border-bottom: 1px solid hsl(0, 0%, 0%);
}

@media screen and (min-width: 740px) {
  .header.abajo .modal__navbar {
    color: hsl(0, 0%, 0%);
  }
}

@media screen and (min-width: 740px) {
  .header.abajo .header__logo-desktop {
    color: #77bcfe;
  }
}

.header.abajo i.bx {
  color: hsl(0, 0%, 0%);
}

.header .modal__navbar {
  background-color: hsl(0, 0%, 0%);
  width: 100%;
  position: absolute;
  top: 3.3em;
  right: 0;
  display: flex;
  height: 0;
  transition: all 0.5s;
  margin-top: 0.6em;
}
@media screen and (min-width: 740px) {
  .header .modal__navbar {
    display: block;
    position: initial;
    height: 100%;
    margin: 0;
    background-color: transparent;
  }
}
.header .modal__navbar__items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  list-style: none;
  overflow: hidden;
  width: 100%;
}
@media screen and (min-width: 740px) {
  .header .modal__navbar__items {
    flex-flow: row nowrap;
    height: 100%;
  }
}
.header .modal__navbar__information {
  padding: 0.5em;
  cursor: pointer;
  width: 100%;
  border-top: 1px solid hsl(0, 0.16%, 8%);
}
.header .modal__navbar__information:hover {
  background-color: hsl(0, 0.16%, 8%);
}
@media screen and (min-width: 740px) {
  .header .modal__navbar__information {
    margin: auto;
    padding: 0;
    text-align: center;
    border-top: none;
    cursor: default;
  }
  .header .modal__navbar__information:hover {
    background-color: transparent;
  }
}
@media screen and (min-width: 740px) and (min-width: 740px) {
  .header .modal__navbar__information-text {
    cursor: pointer;
  }
  .header .modal__navbar__information-text:hover {
    border-bottom: 1px solid hsl(0, 0%, 100%);
  }
}

.header .modal__navbar.active {
  height: 26vh;
}

.AboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 2rem 1rem;
}
.AboutMe_title, .AboutMe_text {
  padding: 1rem 0;
  color: hsl(0, 0%, 38%);
}
.AboutMe_title {
  letter-spacing: 5px;
  font-size: 14px;
}
.AboutMe_subtitle {
  font-size: 2rem;
  max-width: 26rem;
  line-height: 2.5rem;
}
.AboutMe_text {
  line-height: 1.5rem;
}
.AboutMe_logo {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
}
@media screen and (min-width: 769px) {
  .AboutMe_tilte, .AboutMe_text {
    width: 60%;
  }
}

.general {
  padding: 2rem 0;
}
.general_div {
  position: absolute;
  top: 6rem;
  left: 2rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: hsl(0, 0%, 100%);
}
@media screen and (min-width: 740px) {
  .general_div {
    left: 5rem;
  }
}
.general_title {
  font-weight: 200;
  display: flex;
  flex-direction: column;
}
.general_span {
  font-size: 2rem;
  font-weight: 600;
}
.general_text, .general_title {
  font-size: 20px;
}
.general_skills {
  text-align: center;
}
.general_skills-description {
  width: 60%;
  margin: auto;
}
.general_skills-description img {
  width: 100%;
}
@media screen and (min-width: 769px) {
  .general_skills-description img {
    width: 40%;
  }
}

.Skills {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 4rem;
}
@media screen and (min-width: 740px) {
  .Skills {
    flex-direction: row;
  }
}
@media screen and (min-width: 740px) {
  .Skills_full {
    width: 50%;
  }
}
.Skills_frontend, .Skills_devops {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.Skills_profile {
  object-fit: cover;
}
@media screen and (min-width: 740px) {
  .Skills_profile {
    width: 50%;
  }
}
.Skills_title {
  text-align: center;
}
@media screen and (min-width: 740px) {
  .Skills_title {
    line-height: 10vh;
  }
}
.Skills_sass, .Skills_javascript, .Skills_bootstrap {
  display: flex;
  flex-direction: column;
}
.Skills span {
  text-align: center;
}

.front, .devops {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  gap: 1rem;
}

i.bxl-javascript {
  color: yellow;
}
i.bxl-sass, i.bxl-javascript, i.bxl-bootstrap, i.bxl-git {
  font-size: 3em;
  margin: auto;
  display: block;
}
i.bxl-sass {
  color: palevioletred;
}
i.bxl-bootstrap {
  color: #6F2BF3;
}
i.bxl-git {
  color: #F15233;
}

.Porfolio {
  text-align: center;
  padding: 1rem;
}
.Porfolio_projects {
  line-height: 3rem;
}
.Porfolio_text {
  width: 80%;
  margin: auto;
  height: 5rem;
  font-family: "Roboto", sans-serif;
  color: hsl(0, 0%, 38%);
}
@media screen and (min-width: 740px) {
  .Porfolio_text {
    width: 55%;
    height: 5rem;
  }
}

.indicadores {
  line-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.indicadores_text {
  cursor: pointer;
}
.indicadores_text:hover {
  border-bottom: 1px solid;
}

.web_portada {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.web_project {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 740px) {
  .web_project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.Contact {
  text-align: center;
}
.Contact_button {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid hsla(0, 1%, 73%, 0.575);
  padding: 3rem 0;
}
.Contact_btn {
  width: 18rem;
  height: 3rem;
  border: 5px solid;
  background-color: transparent;
  margin: auto;
  font-size: 18px;
  letter-spacing: 3px;
  color: hsl(208, 100%, 42%);
  cursor: pointer;
  font-weight: 600;
}
@media screen and (min-width: 740px) {
  .Contact_btn {
    width: 20rem;
    height: 5rem;
    letter-spacing: 5px;
  }
}
.Contact_btn-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.Contact_btn-text:hover {
  background-color: hsl(208, 100%, 42%);
  color: hsl(0, 0%, 100%);
}
.Contact_info {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  gap: 2rem;
}
@media screen and (min-width: 740px) {
  .Contact_info {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

i.bx-map, i.bxl-gmail {
  margin: auto;
}
@media screen and (min-width: 740px) {
  i.bx-map, i.bxl-gmail {
    display: block;
  }
}

.mail_text1, .mail_text2 {
  cursor: pointer;
}
.mail_text1:hover, .mail_text2:hover {
  color: hsl(208, 100%, 42%);
}

.footer {
  text-align: center;
  padding: 1rem;
}
.footer-div {
  border-top: 1px solid hsla(0, 1%, 73%, 0.575);
}
.footer_div {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}
@media screen and (min-width: 740px) {
  .footer_div {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer_nav {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 740px) {
  .footer_nav {
    width: 50%;
  }
}
.footer_nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  font-size: 12px;
}
.footer_nav-list li {
  cursor: pointer;
}
.footer_redes {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (min-width: 740px) {
  .footer_redes {
    width: 50%;
  }
}
.footer_redes i {
  cursor: pointer;
}

@media screen and (min-width: 740px) {
  i.bxl-github, i.bxl-linkedin, i.bxl-instagram {
    display: block;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

/*# sourceMappingURL=main.css.map */
