@use 'variables';

.footer {
    text-align: center;
    padding: 1rem;
    &-div {
        border-top: 1px solid variables.$Dark-grayish-blue;
    }
    &_div {
        gap: 2rem;
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
        @media screen and (min-width: 740px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &_nav {
        display: flex;
        align-items: center;
        @media screen and (min-width: 740px) {
            width: 50%;
        }
        &-list {
            display: flex;
            justify-content: space-around;
            list-style: none;
            width: 100%;
            font-size: 12px;
            li {
                cursor: pointer;
            }
        }
    }
    &_redes {
        display: flex;
        justify-content: space-evenly;
        @media screen and (min-width: 740px) {
            width: 50%;
        }
        i {
            cursor: pointer;
        }
    }
}

i.bxl-github, i.bxl-linkedin, i.bxl-instagram {
    @media screen and (min-width: 740px) {
        display: block;
    }
}