@use 'variables';
@use 'mixins';

.header {
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.7s;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    align-items: center;
    flex-flow: row wrap;
    z-index: 10;
    height: 63px;
    @media screen and (min-width: 0px) {
        flex-flow: row nowrap;
        color: variables.$White;
    }
    &__logo{
        &-mobile {
            border-radius: 100%;
            width: 3rem;
            height: 3rem;
            object-fit: cover;
            padding: 0.3rem;
            @media screen and (min-width: 740px) {
                display: none;
            }
        }
        &-desktop {
            display: none;
            @media screen and (min-width:740px) {
                display: block;
                font-family: variables.$Font-logo;
                font-size: 1.2rem;
                width: 50%;
            }
        }
    }
    &__list {
        cursor: pointer;
    }
}

.video {
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

i.bx {
    display: block;
    width: 1em;
    height: 1em;
    font-size: 2em;
    @media screen and (min-width: 740px) {
        display: none;
    }
}

.header.abajo {
    background-color: variables.$White;
    border-bottom: 1px solid variables.$Dark-grayish-blue;
}

.header.abajo .modal__navbar__information-text {
    &:hover {
        border-bottom: 1px solid variables.$black-nav;
    }
}

.header.abajo .modal__navbar{
    @media screen and (min-width:740px) {
        color: variables.$black-nav;
    }
}

.header.abajo .header__logo-desktop {
    @media screen and (min-width:740px) {
        color: #77bcfe;
    }
}

.header.abajo i.bx {
    color: variables.$black-nav;
}