@use 'variables';

.Skills {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 4rem;
    @media screen and (min-width: 740px) {
        flex-direction: row;
    }
    &_full {
        @media screen and (min-width:740px) {
            width: 50%;
        }
    }
    &_frontend, &_devops {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
    }
    &_profile {
        object-fit: cover;
        @media screen and (min-width:740px) {
            width: 50%;
        }
    }
    &_title{
        text-align: center;
        @media screen and (min-width:740px) {
            line-height: 10vh;
        }
    }
    &_sass, &_javascript, &_bootstrap {
        display: flex;
        flex-direction: column;
    }
    span {
        text-align: center;
    }
}

.front, .devops {
    display: flex;
    flex-direction: column;
    font-family: variables.$Font-text;
    padding: 1rem;
    gap: 1rem;
}

i.bxl{
    &-javascript {
        color: yellow;
    }
    &-sass, &-javascript, &-bootstrap, &-git {
        font-size: 3em;
        margin: auto;
        display: block;
    }
    &-sass {
        color: palevioletred;
    }
    &-bootstrap {
        color: #6F2BF3;
    }
    &-git {
        color: #F15233;
    }
}