@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

// Colors
    $Red: hsl(0, 100%, 50%);
    $White: hsl(0, 0%, 100%);
    $black-nav: hsl(0, 0%, 0%);
    $blue-skie: rgb(3, 46, 59);
    $Gray-text: hsl(0, 0%, 38%);
    $black-modal: hsl(0, 0.16%, 8%);
    $blue_aqua: hsl(209, 32%, 55%);
    $Dark-grayish-blue: hsla(0, 1%, 73%, 0.575);
    $Border-blue: hsl(208, 100%, 42%);

// Font
$Font: 'Noto Sans JP', sans-serif;
$Font-logo: 'Nova Flat', cursive;
$Font-text: 'Roboto', sans-serif;
