@use 'variables';

@use 'header';
@use 'modal-navbar';

@use 'aboutme';
@use 'skills';
@use 'projects';
@use 'contact';

@use 'footer';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: variables.$Font;
}

// main {
//     margin: auto;
//     @media screen and (max-width: 768px) {
//         background-color: red;
//     }
// }