@use 'variables';
@use 'mixins';

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    &__title {
        width: 260px;
        display: flex;
        justify-content: center;
    }
    &__previus{
        @include mixins.img-btn;
    }
    &__next{
        @include mixins.img-btn;
    }
    &__thumbails {
        margin-top: 0.5rem;
        background-size: cover;
        background-image: url(../img/Projects/Project-1.png);
        height: 180px;
        object-fit: cover;
        border-radius: 10px;
        width: 350px;
        cursor: pointer;
        @media (min-width: 320px) {
            width: 330px;
        }
        @media (min-width: 640px) {
            width: 550px;
            height: 290px;
        }
    }
    &__thumbail {
        display: none;
    }
    @media (min-width: 1115px) {
        display: none;
        &__title {
            display: none;
        }
    }
}
