@use 'variables';

.navbar {
    display: none;
    width: 565px;
    &__items {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    &__link {
        text-decoration: none;
        color: variables.$White;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        height: 30px;
        width: 135px;
        font-weight: 700;
        background-color: variables.$Very-dark-blue;
        border-radius: 5px;
        &:hover {
            background-color: black;
        }
    }
    @media (min-width: 860px) {
        display: block;
    }
}