@use 'variables';

.Projects {
    display: none;
    @media (min-width: 1115px) {
        display: block;
        &__title {
            width: 300px;
            display: flex;
            justify-content: center;
        }
        &__thumbails {
            display: flex;
            gap: 20px;
        }
        &__thumbail {
            width: 100%;
            height: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1rem;
            &--image {
                width: 280px;
                border-radius: 5px;
                border: 1px solid variables.$blue-skie;
                cursor: pointer;
            }
            &--title {
                margin: 1rem;
                width: 280px;
            }
            &--description {
                width: 280px;
                height: 130px;
            }
        }
    }
}