@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;700&display=swap');

// Colors
$Red: red;
$White: white;
$blue-skie: rgb(3, 46, 59);
$black-modal: hsl(0, 0%, 0%, 0.5);
$Very-dark-blue: hsla(218, 12%, 13%, 0.88);
$Dark-grayish-blue: hsl(219, 9%, 45%);

// Font
$Font: 'Inconsolata', monospace;