@use 'variables';
@use 'navbar';
@use 'modal-navbar';
@use 'header';
@use 'gallery';
@use 'projects';
@use 'about';
@use 'skills';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: variables.$Font;
    background-image: url(../img/Font.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: variables.$White;
}

.main-container {
    margin: auto;
    position: relative;
    // background-color: rgb(255, 255, 255);
    @media (min-width: 750px) {
            width: 100%;
    }
}