<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="https://res.cloudinary.com/emvolm3nt0/image/upload/v1688610676/mjnij4uv1m5hru7f3ytc.png">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mí</title>
</head>
<body>
    <main>
        <!-- Header -->
        <header class="header">
            <img src="https://res.cloudinary.com/emvolm3nt0/image/upload/v1688610676/mjnij4uv1m5hru7f3ytc.png" alt="logoMobile" class="header__logo-mobile">
            <i class="header__list bx bx-menu"></i>
            <span class="header__logo-desktop">ERICK MOYA</span>
            <!-- More information resposive (mobile to desktop)-->
            <nav class="modal__navbar">
                <ul class="modal__navbar__items">
                    <li class="modal__navbar__information inicio-mobile"><span class="modal__navbar__information-text">INICIO</span></li>
                    <li class="modal__navbar__information aboutMe-mobile"><span class="modal__navbar__information-text">SOBRE MÍ</span></li>
                    <li class="modal__navbar__information porfolio-mobile"><span class="modal__navbar__information-text">PORFOLIO</span></li>
                    <li class="modal__navbar__information contact-mobile"><span class="modal__navbar__information-text">CONTACTO</span></li>
                </ul>
            </nav>
        </header>
        <video autoplay muted loop class="video">
            <source src="https://res.cloudinary.com/emvolm3nt0/video/upload/v1688612888/boeajxm793cjk5n4hoaa.mp4" type="video/mp4">
        </video>

        <!-- AboutMe -->
        <section class="general">
            <div class="general_div">
                <h1 class="general_title">MI NOMBRE ES
                    <span class="general_span">ERICK MOYA</span>
                </h1>
                <p class="general_text">Frontend Developer</p>
            </div>
            <div class="general_skills">
                <h2 class="general_skills_title">Mis Skills</h2>
                <div class="general_skills-description">
                    <img src="https://res.cloudinary.com/emvolm3nt0/image/upload/v1688610677/wuofytiud4s35ld5xk4q.jpg" alt="Frontend">
                    <ul class="Skills_frontend">
                        <li class="Skills_sass">
                            <i class="bx bxl-sass"></i>
                            <span>6 meses de experiencia</span>
                        </li>
                        <li class="Skills_javascript">
                            <i class="bx bxl-javascript"></i>
                            <span>1 año de experiencia</span>
                        </li>
                        <li class="Skills_bootstrap">
                            <i class="bx bxl-bootstrap"></i>
                            <span>1 año de experiencia</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="Contact">
                <div class="Contact_button">
                    <span class="Contact_text">¿HABLAMOS?</span>
                    <button class="Contact_btn">
                        <span class="Contact_btn-text">CONTACTA CONMIGO</span>
                    </button>
                </div>
                <div class="Contact_info">
                    <div>
                        <i class="bx bx-map"></i>
                        <p class="map_text">PERU</p>
                    </div>
                    <div id="Contacto">
                        <i class="bx bxl-gmail"></i>
                        <p class="mail_text1">moyae76@gmail.com</p>
                        <p class="mail_text2">yusske06@gmail.com</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer / Redes -->
        <footer class="footer">
            <div class="footer-div">
                <div class="footer_div">
                    <div class="footer_nav">
                        <ul class="footer_nav-list">
                            <li id="inicio">INICIO</li>
                            <li id="aboutMe">SOBRE MÍ</li>
                            <li id="porfolio">PORFOLIO</li>
                            <li id="contact">CONTACTO</li>
                        </ul>
                    </div>
                    <div class="footer_redes">
                        <i class="bx bxl-instagram"></i>
                        <i class="bx bxl-github"></i>
                        <i class="bx bxl-linkedin"></i>
                    </div>
                </div>
                <div class="finally">
                    <p class="finally_text"></p>
                    <img src="" alt="" class="finally_logo">
                </div>
            </div>
        </footer>
    </main>
    
    <script type="text/Javascript" src="../src/main.js"></script>
</body>
</html>