<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="https://res.cloudinary.com/emvolm3nt0/image/upload/v1688610676/mjnij4uv1m5hru7f3ytc.png">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css">
    <title>Erick Moya</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="I'm a Junior Frontend Developer">
    <meta property="og:description" content="I'm a Junior Frontend Developer">
    <meta property="og:title" content="Erick Moya">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://erickdev.com">
    <meta property="og:site_name" content="https://erickdev.com">
    <meta name="locale" property="og:locale" content="es_PE">
    <meta name="keywords" content="Erick Moya, web developer, desarrollador web">
</head>
<body>
    <main>
        <!-- Header -->
        <header class="header">
            <img src="https://res.cloudinary.com/emvolm3nt0/image/upload/v1688610676/mjnij4uv1m5hru7f3ytc.png" alt="logoMobile" class="header__logo-mobile">
            <i class="header__list bx bx-menu"></i>
            <span class="header__logo-desktop">ERICK MOYA</span>
            <!-- More information resposive (mobile to desktop)-->
            <nav class="modal__navbar">
                <ul class="modal__navbar__items">
                    <li class="modal__navbar__information inicio-mobile">
                        <span class="modal__navbar__information-text">INICIO</span>
                    </li>
                    <li class="modal__navbar__information aboutMe-mobile">
                        <span class="modal__navbar__information-text">SOBRE MÍ</span>
                    </li>
                    <li class="modal__navbar__information porfolio-mobile">
                        <span class="modal__navbar__information-text">PORFOLIO</span>
                    </li>
                    <li class="modal__navbar__information contact-mobile">
                        <span class="modal__navbar__information-text">CONTACTO</span>
                    </li>
                </ul>
            </nav>
        </header>
        <video autoplay muted loop class="video">
            <source src="https://res.cloudinary.com/emvolm3nt0/video/upload/v1688612888/boeajxm793cjk5n4hoaa.mp4" type="video/mp4">
        </video>

        <!-- Información general -->
        <section class="container">
            <div class="AboutMe">
                <h2 class="AboutMe_title">DESARROLLADOR WEB JUNIOR</h2>
                <h1 class="AboutMe_subtitle">MI NOMBRE ES ERICK MOYA, FRONT-END DEVELOPER</h2>
                <p class="AboutMe_text">Mi objetivo es crecer en la industria del desarrollo de software, desarrollando aplicaiones web pequeñas, medianas y de gran escala.</p>
                <img src="https://res.cloudinary.com/emvolm3nt0/image/upload/v1688610676/mjnij4uv1m5hru7f3ytc.png" alt="2do_logo" class="AboutMe_logo">
            </div>
            <div class="Skills">
                <img src="https://res.cloudinary.com/emvolm3nt0/image/upload/v1688610471/mnxhlvm2czmabritrnp7.jpg" alt="profile" class="Skills_profile">
                <div class="Skills_full">
                    <!-- / FRONT-END / -->
                    <div class="front">
                        <span class="Skills_title">Frontend</span>
                        <ul class="Skills_frontend">
                            <li class="Skills_sass">
                                <i class="bx bxl-sass"></i>
                                <span>6 meses de experiencia</span>
                            </li>
                            <li class="Skills_javascript">
                                <i class="bx bxl-javascript"></i>
                                <span>1 año de experiencia</span>
                            </li>
                            <li class="Skills_bootstrap">
                                <i class="bx bxl-bootstrap"></i>
                                <span>1 año de experiencia</span>
                            </li>
                        </ul>
                    </div>
                    <!-- REACT.JS -->

                    <!-- / BACK-END / -->

                    <!-- NODE.JS -->
                    <!-- PHP -->

                    <!-- / BASE DE DATOS / -->
                    <!-- POSTGRE_SQL -->

                    <!-- / DEVOPS / -->
                    <div class="devops">
                        <span class="Skills_title">DevOps</span>
                        <ul class="Skills_devops">
                            <li class="Skills_git">
                                <i class="bx bxl-git"></i>
                                <span>1 año de experiencia</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="Porfolio">
                <h3 class="Porfolio_projects">PROYECTOS REALIZADOS</h3>
                <p class="Porfolio_text">Cuando inicio un proyecto, siempre busco la forma que este optimizado y con las tecnologas más optimas dependiendo del tipo de proyecto</p>
                <div class="indicadores">
                    <!-- IOS -->
                    <!-- ANDROID -->
                    <span class="indicadores_text">WEB</span>
                </div>
                <!-- IOS -->
                <!-- ANDRIOD -->
                <div class="web">
                    <!-- ejemplo en web, recuerda colocarlos desde el DOM -->
                    <div class="web_project">
                        <img src="https://res.cloudinary.com/emvolm3nt0/image/upload/v1688610678/eaxtcdbu3m5pa6c6vlwf.jpg" alt="pasarela de pagos" class="web_portada">
                        <img src="https://res.cloudinary.com/emvolm3nt0/image/upload/v1688610679/jfvnfm7cunvootjjj3bw.jpg" alt="balance con API" class="web_portada">
                        <img src="https://res.cloudinary.com/emvolm3nt0/image/upload/v1688610680/ukqlh31guhrr0kpcsygx.jpg" alt="notificaciones" class="web_portada">
                    </div>
                </div>
                <!-- colocar enlace a todos los proyectos -->
            </div>
            <div class="Contact">
                <div class="Contact_button">
                    <span class="Contact_text">¿HABLAMOS?</span>
                    <button class="Contact_btn">
                        <span class="Contact_btn-text">CONTACTA CONMIGO</span>
                    </button>
                </div>
                <div class="Contact_info">
                    <div>
                        <i class="bx bx-map"></i>
                        <p class="map_text">PERU</p>
                    </div>
                    <div id="Contacto">
                        <i class="bx bxl-gmail"></i>
                        <p class="mail_text1">moyae76@gmail.com</p>
                        <p class="mail_text2">yusske06@gmail.com</p>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Footer / Redes -->
        <footer class="footer">
            <div class="footer-div">
                <div class="footer_div">
                    <div class="footer_nav">
                        <ul class="footer_nav-list">
                            <li id="inicio">INICIO</li>
                            <li id="aboutMe">SOBRE MÍ</li>
                            <li id="porfolio">PORFOLIO</li>
                            <li id="contact">CONTACTO</li>
                        </ul>
                    </div>
                    <div class="footer_redes">
                        <i class="bx bxl-instagram"></i>
                        <i class="bx bxl-github"></i>
                        <i class="bx bxl-linkedin"></i>
                    </div>
                </div>
                <div class="finally">
                    <p class="finally_text"></p>
                    <img src="" alt="" class="finally_logo">
                </div>
            </div>
        </footer>
    </main>
    <script type="text/Javascript" src="../src/main.js"></script>
</body>
</html>