---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import Carrousel from "../components/Carrousel.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";

import Work from "../components/icons/Work.astro";
import ProfileCheck from "../components/icons/ProfileCheck.astro";
import CodeIcon from "../components/icons/Code.astro";
import SkillsIcon from "../components/icons/Skills.astro";
---

<Layout
  title="Porfolio de erickdev - Desarrollador y Programador Web"
  description="¿Buscas crear aplicaciones y páginas web que cautiven a tus usuarios con una experiencia excepcional? ¡erickdev está aquí para ayudarte! Contacta con nosotros y lleva tus ideas a la realidad digital."
>
  <main class="px-4">
    <SectionContainer class="pt-16 pb-8 md:pt-36 md:pb-16 gap-20 flex flex-col">
      <Hero>
        <slot />
      </Hero>
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer id="experiencia">
        <div class="m-auto max-w-xl">
          <h2
            class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
          >
            <Work class="size-8" />
            Experiencia Laboral
          </h2>
          <Experience />
        </div>
      </SectionContainer>
      <SectionContainer id="proyectos">
        <div class="m-auto max-w-xl">
          <h2
            class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
          >
            <CodeIcon class="size-8" />
            Proyectos
          </h2>
          <Projects />
        </div>
      </SectionContainer>
      <SectionContainer>
        <div class="m-auto max-w-xl">
          <h2
            class="flex flex-items center mb-6 text-3xl font-semibold gap-x-3 text black/80 dark:text-white"
          >
            <SkillsIcon class="size-8" />
            Skills
          </h2>
          <Carrousel />
        </div>
      </SectionContainer>
      <SectionContainer id="sobre-mi" class="pb-12">
        <div class="m-auto max-w-xl">
          <h2
            class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
          >
            <ProfileCheck class="size-8" />
            Sobre mí
          </h2>
          <AboutMe />
        </div>
      </SectionContainer>
    </div>
  </main>
</Layout>
