---
import Gmail from "./icons/Gmail.astro";
import Linkedln from "./icons/Linkedln.astro";
import Socialfill from "./Socialfill.astro";
---

<nav class="flex flex-wrap gap-4 mt-8">
    <Socialfill href="mailto:hola@erickdev.com">
        <Gmail class="size-4"/>
        Contáctame
    </Socialfill>
    <Socialfill href="https://www.linkedin.com/in/erickd3v/">
        <Linkedln class="size-4"/>
        Linkedln
    </Socialfill>
</nav>